{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="card border-primary border-3 text-bg-info">
        <div class="card-header">
            <h4 class="mb-0">Категории подписчика</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.category|as_crispy_field }}
                <button type="submit" class="btn btn-secondary mt-2">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}